.card {
    width: 95%; /* Largura ocupando 95% da largura disponível */
    height: max-content; /* Altura ocupando 100% da altura da viewport */
    background-color: #f1f1f1; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total */
    
    /* Centralização usando flexbox */
    display: flex; /* Ativa o modo flex */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    
    /* Para garantir que o card esteja alinhado no centro da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
